$c-OxfordBlue: 708090(0,33,71,1); //#002147
$c-white: rgba(255,255,255,1); //#FFFFFF
$font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$batimentImage : url('/../src/assets/batiment.jpg');
$portofolioImage : url('/../src/assets/portofolio.jpg');
$contactImage : url('/../src/assets/contact.jpg');

$c-applicationThemeColor: $c-OxfordBlue;
$c-applicationFormsColor: $c-white;
$c-titleWordsColor: $c-white;
$font-familyLucida : $font-family;