<div class="home">
    <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item>
                <img class="d-block w-105 imgcenter" src="assets/3.jpeg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-105 imgcenter" src="https://images.unsplash.com/photo-1553524810-47c06fe4462c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-105 imgcenter" src="assets/7.jpeg" alt="Third slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-105 imgcenter" src="assets/4.jpeg" alt="Slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-105 imgcenter" src="assets/5.jpeg" alt="Slide">
      </mdb-carousel-item>
    </mdb-carousel>
</div>

